@(tasks: List[Meta], metaForm: Form[Meta]) 
@import helper._ 
@main("Lista de Metas"){
<div class="jumbotron">
	<div class="container">
		<h1>Metas Pessoais</h1>
	</div>
</div>
<div class="container">
	<h2>Lista de metas semanais</h2>
	<br> <br>
	<div class="panel-group" id="accordion">
		@for(a<-1 to 6){
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapse@a"> Semana @a</a>
				</h4>
			</div>
			@if(a == 1){
				<div id="collapse@a" class="panel-collapse collapse in">
			} else {
			 	<div id="collapse@a" class="panel-collapse collapse">
			}
				<div class="panel-body">
					<div class="table-hover">
						<table class="table">
						<tr class="info"><td>META</td><td>Apagar</td><td>Feito</td> </tr>
							@for(meta <- Meta.all()){ 
							@if(meta.isDone() && meta.getWeek() == a){
							<tr class="success">
								<td>@meta.getNameMeta()</td>
								
								<td>
								@form(routes.Application.deleteMeta(meta.getId())) { 
								<input type="submit" value="Apagar"> 
								}
								</td>
								<td>OK</td>
							</tr>
							} @if(!meta.isDone() && meta.getWeek() == a){
							<tr class="danger">
								<td>@meta.getNameMeta()</td>
								<td>
								@form(routes.Application.deleteMeta(meta.getId())) { 
								<input type="submit" value="Apagar"> 
								}
								</td>
								<td>
								@form(routes.Application.markMetaAsDone(meta.getId())){
								 <input type="submit" value="Feito"> 
								 }
								</td>
							</tr>
							} }
							</tr>

						</table>
					</div>
				</div>
			</div>
		</div>
		}

	</div>
	<br> <br>
	<div>
		<h2>Adicionar uma nova META</h2>
		@form(routes.Application.newMeta()) { 
		@inputText(metaForm("nameMeta"),'_label -> "Diga sua meta") 
		@inputText(metaForm("priority"), '_label-> "Prioridade da Meta(1-3)") 
		@inputText(metaForm("week"), '_label -> "Semana(1-6)") 
		<input type="submit" value="Adicionar"> }
	</div>

</div>
}
